@media (max-width: 1200px)
	body
		overflow-x: hidden
	.modal_img_rhombus_1
		left: 18rem
		top: -2.9rem
	.direction-blocks img
		margin-left: 0
	.blue-order
		margin-left: 5rem
	.directions-blocks_2
		padding-top: 2rem
		padding-left: 3rem
	.slider_2
		&_text_1
			margin-left: -4rem
		&_text_2
			margin-left: 7.6rem
		&_text_3
			margin-left: 7rem
	.grid-photos_text h2::before
		left: 165px
	.comments_name h2::before
		left: -50px
	.charters_background
		height: 1600px
@media (max-width: 992px)
	.top-nav_menu
			display: none
	.icon-menu
		display: block

	.windows_content span:first-of-type
		font-size: 14px
	.windows_content h3
		font-size: 23px
	.windows_content span:last-of-type
		font-size: 18px
	.block_1, .block_2, .block_3
		margin-left: 0
	.direction-blocks img
		margin-left: 2rem
	.color-scheme p:last-of-type
		margin-left: 0
	.color-scheme-blocks
		display: inline-block
		&_block
			margin-bottom: 2rem	
	.form_slider
		margin-right: 6rem
	.direction-blocks span
		margin-right: 9rem
	.scheme-blocks_2
		margin-left: 0
	.col-md-7
		margin: 0 auto

	.blue-order
		margin: 10rem auto

	.modal_form_2_block input[type=submit]
		margin-left: 5rem

	.slider_2_text_1
		margin-left: 4.5rem
	.slider_2_text_2
		margin-left: 9.6rem
	.slider_2_text_3
		margin-left: 8rem
	.grid-photos_text h2::before
		left: 50px
	.charters-block_1 img:first-child
		margin-bottom: 4rem

@media (max-width: 768px)
	.form_slider
		margin-left: 0
		margin-right: 7rem

	.direction-blocks_img img
		margin-left: -2rem
		max-width: 370px
		width: 100%
	.modal_form_2
		margin-top: 0

	.modal_form_2_block input[type=text]:first-child
		margin-bottom: 1rem
		margin-left: 2.4rem
	.modal_form_2_block input[type=submit]
		margin-left: 1rem


	.direction-blocks img
		margin: 2rem auto
	.directions-blocks_2
		margin-top: -3rem
	.slider_2_text_1
		margin-left: 9rem

	.grid-photos_text h2::before
		left: 0

	.grid-photos_background
		height: 2300px

	.comments_personal_background
		height: 1500px
	.comments_personal_goods_text_2
		margin-left: 0
	.comments_personal_goods_text_4
		margin-left: 0
	.charters_background
		height: 1450px
@media (max-width: 480px)
	.directions-blocks
		padding-left: 5rem
	.row_items
		padding-left: 3.5rem
	.form_slider
		margin-right: 2rem
	.grid-photos_background
		height: 3350px
	.block_1, .block_2, .block_3
		margin-left: 6rem
		margin-bottom: 2.5rem
	.modal_form_2
		margin-top: 0
	.comments_block p
		margin-top: 5.1rem
	.comments_personal_background
		height: 1600px
@media (max-width: 375px)
	
	.directions-blocks_2
		padding-left: 4.5rem
	.direction-blocks img
		margin: 2rem 0 2rem 0
	.row_items
		padding-left: 0rem
	.slider_2_text_1
		margin-left: 3.5rem
	.color-scheme-blocks_sponsors
		display: block
	.color-scheme-blocks_sponsors_1, .color-scheme-blocks_sponsors_2
		margin-bottom: 2rem
	.color-scheme-blocks_sponsors_1
		margin-left: 1.2rem
	.comments_block h2::before
		top: 170%
	.windows
		padding-left: 2rem
	.comments_personal_modal_form
		padding: 2rem 0 0 0
	.customers-blocks
		padding-left: 4rem
	.customers-block_2
		padding-left: 3rem
	.top-nav_address, .top-nav_contacts
		display: none
	.icon-menu
		top: -30px
		left: 20px

@media (max-width: 320px)
	.top-nav_logo
		margin-bottom: 3rem
	.modal_form
		max-height: 245px
	.windows
		padding-left: 0
	.directions-blocks
		padding-left: 2.5rem
	.direction-blocks span
		margin-left: 0
		margin-top: 0
	.blue-order img
		max-width: 325px
		width: 100%
	.directions-blocks_2
		padding-left: 2rem
	.direction-blocks span
		margin-right: 0
	.comments_block h2
		margin-left: 15rem
	.comments_personal_modal_form input, .comments_personal_modal_form textarea
		width: 265px
	.customers-blocks
		padding-left: 1.4rem
	.modal_form_2_block input[type=text]:first-child
		margin-left: .7rem
	.modal_form_2_block input[type=submit]
		margin-left: .6rem
	.top-nav_contacts_phone
		font-size: 20px
	.directions-blocks_2
		margin-top: -6rem
	.charters_background
		height: 1325px

