html {
  font-size: 10px;
}

body {
  font-family: "DIN 2014";
  text-align: center;
}

.container {
  overflow-x: hidden;
}

.top-nav_logo {
  margin-top: 3.1rem;
  line-height: 36px;
  text-transform: uppercase;
  color: #0084bd;
  font-weight: 700;
}
.top-nav_logo_text-1 {
  font-size: 43px;
  letter-spacing: 1.07px;
}
.top-nav_logo_text-2 {
  font-size: 21px;
  margin-left: 0.8rem;
}
.top-nav_address, .top-nav_contacts, .top-nav_menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.top-nav_address {
  color: #00052a;
  font-size: 17px;
  font-weight: 400;
}
.top-nav_contacts {
  color: #00052a;
  text-align: center;
}
.top-nav_contacts_icon {
  width: 20px;
  height: 20px;
  margin-bottom: 0.7rem;
  line-height: 36px;
}
.top-nav_contacts_phone {
  font-size: 21px;
  font-weight: 700;
  margin-left: 0.9rem;
}
.top-nav_contacts_mail {
  font-size: 18px;
  font-weight: 400;
  margin-left: 1rem;
}
.top-nav_menu {
  width: 100%;
}
.top-nav_menu nav {
  margin-top: -0.5rem;
}
.top-nav_menu nav ul {
  display: flex;
  list-style: none;
}
.top-nav_menu nav ul li {
  margin-left: 0.3rem;
}
.top-nav_menu nav ul li a {
  text-decoration: none;
  padding: 0.4rem 1.7rem;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: -0.53px;
  font-weight: 400;
  background-color: #0084bd;
}
.top-nav_menu_mobile {
  display: none;
  text-align: left;
  font-size: 21px;
}
.top-nav_menu_mobile ul {
  list-style: none;
  padding: 0;
}
.top-nav_menu_mobile ul li {
  background-color: #0084bd;
  margin-bottom: 1px;
  padding-left: 2rem;
}
.top-nav_menu_mobile ul li a {
  color: #ffffff;
  text-decoration: none;
}

.icon-menu {
  display: none;
  position: absolute;
  top: 25px;
  left: 30px;
}

.modal {
  background: url(bg.png);
  max-width: 1142px;
  height: 1278px;
  padding-top: 2.9rem;
  text-align: center;
}
.modal_text {
  color: #00001b;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}
.modal_text_header_3 {
  margin-top: 1.4rem;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.6px;
}
.modal_form {
  margin: 4.4rem auto 0 auto;
  padding: 2rem;
  max-width: 350px;
  max-height: 215px;
  box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.35), inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  color: #ffffff;
  background-color: #0085be;
}
.modal_form_text_header {
  font-size: 19px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: -0.47px;
  margin-bottom: -0.5rem;
}
.modal_form_text_info {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.42px;
  margin-bottom: 0.5rem;
}
.modal_form_name input, .modal_form_phone input {
  max-width: 192px;
  height: 35px;
  padding-left: 1rem;
  margin-bottom: 0.7rem;
  border-radius: 18px;
  background-color: #f3f3f3;
  outline: none;
}
.modal_form_button input {
  padding: 0.5rem 1rem;
  font-size: 17px;
  margin-left: 0.4rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: -0.42px;
  box-shadow: inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4);
  border-radius: 19px;
  background-color: #ff3a3a;
  border: none;
}
.modal_img {
  margin-left: 3.4rem;
}
.modal_img_logo {
  margin-top: 15.2rem;
}
.modal_img_header {
  margin-top: 1rem;
}
.modal_img_header img {
  max-width: 627px;
  width: 100%;
}

.windows {
  text-align: center;
  margin: 7rem auto 0 auto;
}
.windows h2 {
  font-size: 32px;
  margin-bottom: 8.1rem;
  text-transform: uppercase;
}
.windows img {
  display: block;
  max-width: 268px;
  width: 100%;
  height: 254px;
}
.windows_content {
  margin-top: 3rem;
  text-align: left;
}
.windows_content span:first-of-type {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.19px;
}
.windows_content h3 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 1.2rem 0;
}
.windows_content span:last-of-type {
  font-size: 19px;
  letter-spacing: 0.19px;
  margin-left: 2rem;
}

.block_1 {
  margin-left: 3rem;
}

.block_2 {
  margin-left: 3rem;
}

.block_3 {
  margin-left: 3rem;
}

.direction {
  max-width: 1140px;
  height: 493px;
  text-align: center;
  margin-top: 7rem;
  background: url(bg_2.png);
}
.direction h2 {
  color: #ffffff;
  font-size: 45px;
  padding-top: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}
.direction-blocks {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.direction-blocks span {
  display: block;
  padding-bottom: 2.1rem;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.68px;
  margin-top: 3rem;
}

.directions-blocks {
  padding-left: 10rem;
}

.form_slider {
  margin: 0;
  max-width: 300px;
  color: #000000;
  max-height: 265px !important;
  background-color: #ffffff;
}

.color-scheme {
  margin-top: 4.1rem;
  text-align: center;
}
.color-scheme p {
  padding-top: 6.7rem;
  position: relative;
  text-align: left;
  font-size: 21px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}
.color-scheme p::before {
  position: absolute;
  top: 85%;
  display: block;
  content: "";
  width: 3px;
  height: 27px;
  left: -10px;
  margin-top: -1.5rem;
  margin-right: 1rem;
  background: #0083BD;
}
.color-scheme_header span:first-child {
  display: block;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.68px;
}
.color-scheme_header span:last-child {
  font-size: 27px;
  text-transform: uppercase;
}
.color-scheme-blocks {
  display: flex;
}
.color-scheme-blocks_block {
  margin-right: 2.2rem;
}
.color-scheme-blocks_block img {
  display: block;
  margin-bottom: 1rem;
}
.color-scheme-blocks_block span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.color-scheme-blocks_sponsors {
  display: flex;
  margin-top: 5rem;
}
.color-scheme-blocks_sponsors_1 {
  margin-right: 6.2rem;
}
.color-scheme-blocks_sponsors_2 {
  margin-right: 4.7rem;
}
.color-scheme p:last-of-type {
  padding-top: 4.5rem;
  margin-left: 10rem;
}

.scheme-blocks_2 {
  margin-left: 10rem;
}

.blue-order {
  margin-top: 10rem;
  margin-left: 10rem;
  max-width: 325px;
  height: 325px;
}

.modal_form_2 {
  text-align: center;
  margin-top: 8.2rem;
}
.modal_form_2 h2 {
  font-size: 24px;
  text-transform: uppercase;
}
.modal_form_2 h2:last-of-type {
  font-weight: 400;
}
.modal_form_2_block {
  max-width: 742px;
  padding: 1.7rem 3.3rem 1.7rem 2.3rem;
  margin: 2.7rem auto 0 auto;
  box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.35), inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  background-color: #0085be;
}
.modal_form_2_block input[type=text] {
  width: 212px;
  height: 35px;
  box-shadow: inset 0 0 4px rgba(54, 54, 54, 0.5);
  border-radius: 18px;
  background-color: #f3f3f3;
  padding-left: 1rem;
  border: none;
}
.modal_form_2_block input[type=text]:first-child {
  margin-right: 1.2rem;
}
.modal_form_2_block input[type=submit] {
  padding: 1rem 3.1rem 0.8rem 3.1rem;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  font-size: 17px;
  letter-spacing: -0.42px;
  box-shadow: inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4);
  border-radius: 19px;
  background-color: #ff3a3a;
  margin-left: 4.2rem;
}

.direction_2 {
  max-width: 1140px;
  height: 450px;
  text-align: center;
  margin-top: 6rem;
  background: url(bg_3.png);
}

.slider_header {
  font-size: 30px;
  padding-top: 4rem;
  text-transform: uppercase;
  color: #ffffff;
}

.slider_2 {
  font-size: 28px;
  text-transform: uppercase;
}
.slider_2_header {
  font-size: 30px;
}
.slider_2 img {
  margin-bottom: 2rem;
}
.slider_2_text_1 {
  margin-left: -1rem;
}
.slider_2_text_2 {
  margin-left: 7rem;
}
.slider_2_text_3 {
  margin-left: 7rem;
}

.grid-photos {
  text-align: center;
}
.grid-photos_background {
  background: url(wp.png);
  max-width: 1140px;
  height: 1395px;
}
.grid-photos_text {
  padding-top: 1.9rem;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.68px;
}
.grid-photos_text h2 {
  position: relative;
}
.grid-photos_text h2::before {
  position: absolute;
  top: 170%;
  left: 250px;
  display: block;
  content: "";
  max-width: 600px;
  width: 100%;
  height: 5px;
  margin-top: -1.5rem;
  margin-right: 1rem;
  background: #0083BD;
}
.grid-photos_photos {
  margin: 7.7rem auto 0 auto;
  max-width: 718px;
}
.grid-photos_photos img {
  margin-bottom: 0.5rem;
}

.comments {
  text-align: center;
}
.comments_block {
  margin-top: 7.1rem;
  margin-bottom: 10.8rem;
}
.comments_block h2 {
  font-size: 14px;
  margin-left: 19rem;
  text-align: left;
}
.comments_block h2::before {
  top: 230%;
  left: -50px;
  max-width: 350px;
  height: 4px;
}
.comments_block p {
  max-width: 691px;
  margin: 4.1rem auto 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.35px;
}
.comments_personal_background {
  background: url(wp2.png);
  max-width: 1140px;
  height: 815px;
}
.comments_personal_text_header {
  padding-top: 2rem;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.68px;
}
.comments_personal_modal_form {
  max-width: 345px;
  margin: 2rem auto 0 auto;
  padding: 2.5rem;
  height: 275px;
  box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.35), inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  background-color: #0085be;
}
.comments_personal_modal_form input, .comments_personal_modal_form textarea {
  width: 295px;
  padding-left: 1rem;
  box-shadow: inset 0 0 4px rgba(54, 54, 54, 0.5);
  border-radius: 10px;
  border: none;
  background-color: #f3f3f3;
}
.comments_personal_modal_form input {
  height: 40px;
  margin-bottom: 0.5rem;
}
.comments_personal_modal_form textarea {
  height: 125px;
  resize: none;
}
.comments_personal_modal_form button {
  width: 215px;
  height: 42px;
  margin-top: 1rem;
  border: none;
  box-shadow: inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4);
  border-radius: 19px;
  background-color: #ff3a3a;
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
}
.comments_personal_goods {
  max-width: 756px;
  margin: 8.1rem auto 0 auto;
}
.comments_personal_goods p {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.53px;
}
.comments_personal_goods_text_1 {
  margin-left: 1rem;
}
.comments_personal_goods_text_2 {
  margin-left: 2.5rem;
}
.comments_personal_goods_text_3 {
  margin-left: 2rem;
}
.comments_personal_goods_text_4 {
  margin-left: 5.5rem;
}

.customers-blocks {
  padding-left: 7rem;
}
.customers-block_1 {
  margin-top: 9rem;
}
.customers-block_1 img {
  margin-right: 5.6rem;
  margin-bottom: 3rem;
}
.customers-block_2 {
  margin-bottom: 7rem;
}
.customers-block_2 img {
  margin-right: 8rem;
}

.charters_background {
  background: url(wp3.png);
  max-width: 1140px;
  height: 1185px;
}
.charters-blocks {
  margin-top: 5rem;
  display: block;
}
.charters-block_1 {
  margin-bottom: 9rem;
}
.charters-block_1 img:first-child {
  max-width: 590px;
  width: 100%;
  height: 420px;
  margin-right: 6rem;
}
.charters-block_1 img:last-child {
  max-width: 284px;
  height: 420px;
}
.charters-block_2 img {
  max-width: 935px;
  width: 100%;
}

.footer-address {
  margin-top: 3.4rem;
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .modal_img_rhombus_1 {
    left: 18rem;
    top: -2.9rem;
  }

  .direction-blocks img {
    margin-left: 0;
  }

  .blue-order {
    margin-left: 5rem;
  }

  .directions-blocks_2 {
    padding-top: 2rem;
    padding-left: 3rem;
  }

  .slider_2_text_1 {
    margin-left: -4rem;
  }
  .slider_2_text_2 {
    margin-left: 7.6rem;
  }
  .slider_2_text_3 {
    margin-left: 7rem;
  }

  .grid-photos_text h2::before {
    left: 165px;
  }

  .comments_name h2::before {
    left: -50px;
  }

  .charters_background {
    height: 1600px;
  }
}
@media (max-width: 992px) {
  .top-nav_menu {
    display: none;
  }

  .icon-menu {
    display: block;
  }

  .windows_content span:first-of-type {
    font-size: 14px;
  }

  .windows_content h3 {
    font-size: 23px;
  }

  .windows_content span:last-of-type {
    font-size: 18px;
  }

  .block_1, .block_2, .block_3 {
    margin-left: 0;
  }

  .direction-blocks img {
    margin-left: 2rem;
  }

  .color-scheme p:last-of-type {
    margin-left: 0;
  }

  .color-scheme-blocks {
    display: inline-block;
  }
  .color-scheme-blocks_block {
    margin-bottom: 2rem;
  }

  .form_slider {
    margin-right: 6rem;
  }

  .direction-blocks span {
    margin-right: 9rem;
  }

  .scheme-blocks_2 {
    margin-left: 0;
  }

  .col-md-7 {
    margin: 0 auto;
  }

  .blue-order {
    margin: 10rem auto;
  }

  .modal_form_2_block input[type=submit] {
    margin-left: 5rem;
  }

  .slider_2_text_1 {
    margin-left: 4.5rem;
  }

  .slider_2_text_2 {
    margin-left: 9.6rem;
  }

  .slider_2_text_3 {
    margin-left: 8rem;
  }

  .grid-photos_text h2::before {
    left: 50px;
  }

  .charters-block_1 img:first-child {
    margin-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .form_slider {
    margin-left: 0;
    margin-right: 7rem;
  }

  .direction-blocks_img img {
    margin-left: -2rem;
    max-width: 370px;
    width: 100%;
  }

  .modal_form_2 {
    margin-top: 0;
  }

  .modal_form_2_block input[type=text]:first-child {
    margin-bottom: 1rem;
    margin-left: 2.4rem;
  }

  .modal_form_2_block input[type=submit] {
    margin-left: 1rem;
  }

  .direction-blocks img {
    margin: 2rem auto;
  }

  .directions-blocks_2 {
    margin-top: -3rem;
  }

  .slider_2_text_1 {
    margin-left: 9rem;
  }

  .grid-photos_text h2::before {
    left: 0;
  }

  .grid-photos_background {
    height: 2300px;
  }

  .comments_personal_background {
    height: 1500px;
  }

  .comments_personal_goods_text_2 {
    margin-left: 0;
  }

  .comments_personal_goods_text_4 {
    margin-left: 0;
  }

  .charters_background {
    height: 1450px;
  }
}
@media (max-width: 480px) {
  .directions-blocks {
    padding-left: 5rem;
  }

  .row_items {
    padding-left: 3.5rem;
  }

  .form_slider {
    margin-right: 2rem;
  }

  .grid-photos_background {
    height: 3350px;
  }

  .block_1, .block_2, .block_3 {
    margin-left: 6rem;
    margin-bottom: 2.5rem;
  }

  .modal_form_2 {
    margin-top: 0;
  }

  .comments_block p {
    margin-top: 5.1rem;
  }

  .comments_personal_background {
    height: 1600px;
  }
}
@media (max-width: 375px) {
  .directions-blocks_2 {
    padding-left: 4.5rem;
  }

  .direction-blocks img {
    margin: 2rem 0 2rem 0;
  }

  .row_items {
    padding-left: 0rem;
  }

  .slider_2_text_1 {
    margin-left: 3.5rem;
  }

  .color-scheme-blocks_sponsors {
    display: block;
  }

  .color-scheme-blocks_sponsors_1, .color-scheme-blocks_sponsors_2 {
    margin-bottom: 2rem;
  }

  .color-scheme-blocks_sponsors_1 {
    margin-left: 1.2rem;
  }

  .comments_block h2::before {
    top: 170%;
  }

  .windows {
    padding-left: 2rem;
  }

  .comments_personal_modal_form {
    padding: 2rem 0 0 0;
  }

  .customers-blocks {
    padding-left: 4rem;
  }

  .customers-block_2 {
    padding-left: 3rem;
  }

  .top-nav_address, .top-nav_contacts {
    display: none;
  }

  .icon-menu {
    top: -30px;
    left: 20px;
  }
}
@media (max-width: 320px) {
  .top-nav_logo {
    margin-bottom: 3rem;
  }

  .modal_form {
    max-height: 245px;
  }

  .windows {
    padding-left: 0;
  }

  .directions-blocks {
    padding-left: 2.5rem;
  }

  .direction-blocks span {
    margin-left: 0;
    margin-top: 0;
  }

  .blue-order img {
    max-width: 325px;
    width: 100%;
  }

  .directions-blocks_2 {
    padding-left: 2rem;
  }

  .direction-blocks span {
    margin-right: 0;
  }

  .comments_block h2 {
    margin-left: 15rem;
  }

  .comments_personal_modal_form input, .comments_personal_modal_form textarea {
    width: 265px;
  }

  .customers-blocks {
    padding-left: 1.4rem;
  }

  .modal_form_2_block input[type=text]:first-child {
    margin-left: 0.7rem;
  }

  .modal_form_2_block input[type=submit] {
    margin-left: 0.6rem;
  }

  .top-nav_contacts_phone {
    font-size: 20px;
  }

  .directions-blocks_2 {
    margin-top: -6rem;
  }

  .charters_background {
    height: 1325px;
  }
}

/*# sourceMappingURL=main.css.map */
