@charset "UTF-8";
html {
  font-size: 10px;
}

body {
  font-family: "DIN 2014";
}

.top-nav_logo {
  margin-top: 3.1rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: #0084bd;
  font-weight: 700;
}
.top-nav_logo_text-1 {
  font-size: 4.3rem;
  letter-spacing: 1.07px;
}
.top-nav_logo_text-2 {
  font-size: 2.1rem;
  margin-left: 0.8rem;
}
.top-nav_address, .top-nav_contacts, .top-nav_menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.top-nav_address {
  color: #00052a;
  font-size: 1.7rem;
  font-weight: 400;
}
.top-nav_contacts {
  color: #00052a;
  text-align: center;
}
.top-nav_contacts_icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.7rem;
  line-height: 3.6rem;
}
.top-nav_contacts_phone {
  font-size: 2.1rem;
  font-weight: 700;
  margin-left: 0.9rem;
}
.top-nav_contacts_mail {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 1rem;
}
.top-nav_menu {
  width: 100%;
}
.top-nav_menu nav {
  margin-top: -0.5rem;
}
.top-nav_menu nav ul {
  display: flex;
  list-style: none;
}
.top-nav_menu nav ul li {
  margin-left: 0.3rem;
}
.top-nav_menu nav ul li a {
  text-decoration: none;
  padding: 0.4rem 1.7rem;
  color: #ffffff;
  font-size: 2.1rem;
  letter-spacing: -0.53px;
  font-weight: 400;
  background-color: #0084bd;
}

.modal {
  background: url(bg.png);
  max-width: 1142px;
  height: 1278px;
  padding-top: 2.9rem;
  text-align: center;
}
.modal_text {
  color: #00001b;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
}
.modal_text_header_3 {
  margin-top: 1.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: -0.6px;
}
.modal_form {
  margin: 4.4rem auto 0 auto;
  padding: 2rem;
  max-width: 35rem;
  max-height: 21.5rem;
  box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.35), inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4);
  border-radius: 1.5rem;
  color: #ffffff;
  background-color: #0085be;
}
.modal_form_text_header {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.9rem;
  text-transform: uppercase;
  letter-spacing: -0.47px;
  margin-bottom: -0.5rem;
}
.modal_form_text_info {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: -0.42px;
  margin-bottom: 0.5rem;
}
.modal_form_name input, .modal_form_phone input {
  max-width: 19.2rem;
  height: 3.5rem;
  padding-left: 1rem;
  margin-bottom: 0.7rem;
  border-radius: 1.8rem;
  background-color: #f3f3f3;
  outline: none;
}
.modal_form_button input {
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  margin-left: 0.4rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 2.9rem;
  text-transform: uppercase;
  letter-spacing: -0.42px;
  box-shadow: inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4);
  border-radius: 1.9rem;
  background-color: #ff3a3a;
  border: none;
}
.modal_img {
  margin-left: 3.4rem;
}
.modal_img_logo {
  margin-top: 15.2rem;
}
.modal_img_header {
  font-size: 3rem;
  line-height: 1rem;
  color: #009cc7;
  text-transform: uppercase;
}
.modal_img_header p:first-child {
  font-weight: 700;
}
.modal_img_star {
  position: relative;
  margin-top: -1.5rem;
}
.modal_img_rhombus_1, .modal_img_rhombus_2, .modal_img_rhombus_4, .modal_img_rhombus_5 {
  text-align: center;
  width: 18.2rem;
  height: 18.2rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: #feffff;
  text-transform: uppercase;
  background: url(Прямоугольник_5_копия_5.png);
}
.modal_img_rhombus_1 span:first-child, .modal_img_rhombus_2 span:first-child, .modal_img_rhombus_4 span:first-child, .modal_img_rhombus_5 span:first-child {
  display: block;
}
.modal_img_rhombus_1 {
  position: absolute;
  top: -3.9rem;
  left: 26.1rem;
  padding-top: 6rem;
}
.modal_img_rhombus_2 {
  position: absolute;
  top: 5.3rem;
  left: 35.3rem;
  padding-top: 8rem;
}
.modal_img_rhombus_3 {
  position: absolute;
  top: 14.7rem;
  left: 41.6rem;
  width: 24.3rem;
  height: 24.3rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: #feffff;
  text-transform: uppercase;
  background: url(Прямоугольник_5_копия_4.png);
  padding-top: 11rem;
}
.modal_img_rhombus_3 span:first-child {
  display: block;
}
.modal_img_rhombus_4 {
  position: absolute;
  right: 35.4rem;
  top: 5.2rem;
  padding-top: 8rem;
}
.modal_img_rhombus_5 {
  position: absolute;
  bottom: -1.7rem;
  right: 26rem;
  padding-top: 7.5rem;
}

.windows {
  text-align: center;
  margin: 7rem auto 0 auto;
}
.windows h2 {
  font-size: 3.2rem;
  margin-bottom: 8.1rem;
  text-transform: uppercase;
}
.windows img {
  display: block;
}
.windows_content {
  margin-top: 3rem;
  text-align: left;
}
.windows_content span:first-of-type {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.19px;
}
.windows_content h3 {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 1.2rem 0;
}
.windows_content span:last-of-type {
  font-size: 1.9rem;
  letter-spacing: 0.19px;
  margin-left: 2rem;
}

.block_1 {
  margin-top: 6rem;
  margin-left: 1rem;
}

.block_2 {
  margin-left: 4rem;
}

.block_3 {
  margin-left: 3rem;
}

/*# sourceMappingURL=main.css.map */
