
html
	font-size: 10px

body
	font-family: "DIN 2014"
	text-align: center

.top-nav
	&_logo
		margin-top: 3.1rem
		line-height: 36px
		text-transform: uppercase
		color: #0084bd
		font-weight: 700
		&_text-1
			font-size: 43px
			// Text style for "Окна века"
			letter-spacing: 1.07px
		&_text-2
			font-size: 21px
			margin-left: .8rem
	&_address, &_contacts, &_menu
		display: flex
		justify-content: flex-end
		margin-top: .5rem

	&_address
		color: #00052a
		font-size: 17px
		font-weight: 400

	&_contacts
		color: #00052a
		text-align: center
		&_icon
			width: 20px
			height: 20px
			margin-bottom: .7rem
			line-height: 36px
		&_phone
			font-size: 21px
			font-weight: 700
			margin-left: .9rem
		&_mail
			font-size: 18px
			font-weight: 400
			margin-left: 1rem
	&_menu
		width: 100%
		nav
			margin-top: -0.5rem
			ul
				display: flex
				list-style: none
				li
					margin-left: .3rem
					a
						text-decoration: none
						padding: .4rem 1.7rem
						color: #ffffff
						font-size: 21px
						letter-spacing: -.53px
						font-weight: 400
						background-color: #0084bd

.modal
	background: url(bg.png)
	max-width: 1142px
	height: 1278px
	padding-top: 2.9rem
	text-align: center
	&_text
		color: #00001b
		font-size: 30px
		font-weight: 700
		line-height: 35px
		&_header_3
			margin-top: 1.4rem
			font-size: 24px
			font-weight: 400
			line-height:29px
			letter-spacing: -.6px
	&_form
		margin: 4.4rem auto 0 auto
		padding: 2rem
		max-width: 350px
		max-height: 215px
		box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.35), inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4)
		border-radius: 15px
		color: #ffffff
		background-color: #0085be
		&_text_header
			font-size: 19px
			font-weight: 700
			line-height: 29px
			text-transform: uppercase
			letter-spacing: -.47px
			margin-bottom: -.5rem
		&_text_info
			font-size: 17px
			font-weight: 400	
			line-height: 29px
			letter-spacing: -.42px
			margin-bottom: .5rem
		&_name input, &_phone input
			max-width: 192px
			height: 35px
			padding-left: 1rem
			margin-bottom: .7rem
			border-radius: 18px
			background-color: #f3f3f3
			outline: none
		&_button input
			padding: .5rem 1rem
			font-size: 17px
			margin-left: .4rem
			color: #ffffff
			font-weight: 700
			line-height: 29px
			text-transform: uppercase
			letter-spacing: -.42px
			box-shadow: inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4)
			border-radius: 19px
			background-color: #ff3a3a
			border: none
	&_img
		margin-left: 3.4rem
		&_logo
			margin-top: 15.2rem
		&_header
			margin-top: 1rem
			img
				max-width: 627px
				width: 100%
.windows
	padding-left: 4rem
	text-align: center
	margin: 7rem auto 0 auto
	h2
		font-size: 32px
		margin-bottom: 8.1rem
		text-transform: uppercase
	img
		display: block
		max-width: 268px
		width: 100%
		height: 254px
	&_content
		margin-top: 3rem
		
		text-align: left
		span:first-of-type
			font-size: 19px
			font-weight: 700
			letter-spacing: 0.19px
		h3
			font-size: 28px
			font-weight: 700
			letter-spacing: 0.7px
			margin: 1.2rem 0
		span:last-of-type
			font-size: 19px
			letter-spacing: 0.19px
			margin-left: 2rem

.block_1
	margin-left: 3rem
.block_2
	margin-left: 3rem
.block_3
	margin-left: 3rem

.direction
	max-width: 1140px
	height: 493px
	text-align: center
	margin-top: 7rem
	background: url(bg_2.png)
	h2
		color: #ffffff
		font-size: 45px
		padding-top: 4rem
		font-weight: 700
		text-transform: uppercase
		letter-spacing: -.45px
	&-blocks
		display: flex
		text-align: center
		align-items: center
		margin: 0 auto
		span
			display: block
			padding-bottom: 2.1rem
			font-size: 24px
			font-weight: 700
			color: #ffffff
			letter-spacing: -0.68px
		img
			margin-left: 5rem
			margin-top: 3rem
.directions-blocks
	padding-left: 10rem
.form_slider
	margin: 0
	max-width: 300px
	color: #000000
	max-height: 265px
	background-color: #ffffff
.color-scheme
	margin-top: 4.1rem
	text-align: center
	p
		padding-top: 6.7rem
		position: relative
		text-align: left
		font-size: 21px
		color: #000000
		font-weight: 700
		text-transform: uppercase

		&::before
			position: absolute
			top: 85%
			display: block
			content: ''
			width: 3px
			height: 27px
			left: -10px
			margin-top: -1.5rem
			margin-right: 1rem
			background: #0083BD
	&_header
		span:first-child
			display: block
			font-size: 27px
			font-weight: 700
			text-transform: uppercase
			letter-spacing: -0.68px
		span:last-child
			font-size: 27px
			text-transform: uppercase
	&-blocks
		display: flex
		&_block
			margin-right: 2.2rem
			img
				display: block
				margin-bottom: 1rem
			span
					
				font-size: 14px
				text-transform: uppercase
				font-weight: 700
		&_sponsors
			display: flex
			margin-top: 5rem
			&_1
				margin-right: 6.2rem
			&_2
				margin-right: 4.7rem
	p:last-of-type
		padding-top: 4.5rem
		margin-left: 10rem

.scheme-blocks_2
	margin-left: 10rem

.blue-order
	margin-top: 10rem
	margin-left: 10rem
	max-width: 325px
	height: 325px
	background: url(Эллипс_2.png)
	&_background
		background: url(664fc2ed6001584698f18cb9d43eb4fd.png)
		max-width: 286px
		height: 286px
.modal_form_2
	text-align: center
	margin-top: 8.2rem
	h2
		font-size: 24px
		text-transform: uppercase
		&:last-of-type
			font-weight: 400
	&_block
		max-width: 742px
		padding: 1.7rem 3.3rem 1.7rem 2.3rem
		margin: 2.7rem auto 0 auto
		box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.35), inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4)
		border-radius: 15px
		background-color: #0085be
		input[type="text"]
			width: 212px
			height: 35px
			box-shadow: inset 0 0 4px rgba(54, 54, 54, 0.5)
			border-radius: 18px
			background-color: #f3f3f3
			padding-left: 1rem
			border: none
		input[type="text"]:first-child
			margin-right: 1.2rem
		input[type="submit"]
			padding: 1rem 3.1rem .8rem 3.1rem
			text-transform: uppercase
			color: #ffffff
			border: none
			font-size: 17px
			letter-spacing: -.42px
			box-shadow: inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4)
			border-radius: 19px
			background-color: #ff3a3a
			margin-left: 4.2rem
.direction_2
	max-width: 1140px
	height: 450px
	text-align: center
	margin-top: 6rem
	background: url(bg_3.png)

.directions-blocks_2
	margin-top: -3rem

.slider_header
	font-size: 30px
	padding-top: 4rem
	text-transform: uppercase
	color: #ffffff

.slider_2
	font-size: 28px
	text-transform: uppercase
	&_header
		font-size: 30px
	img
		margin-bottom: 2rem
	&_text_1
		margin-left: -1rem
	&_text_2
		margin-left: 12.5rem
	&_text_3
		margin-left: 11rem
.grid-photos
	text-align: center
	&_background
		background: url(wp.png)
		max-width: 1140px
		height: 1395px
	&_text
		padding-top: 1.9rem
		font-size: 20px
		text-transform: uppercase
		letter-spacing: -0.68px
		h2
			position: relative
			&::before
				position: absolute
				top: 170%
				left: 250px
				display: block
				content: ''
				max-width: 600px
				width: 100%
				height: 5px
				margin-top: -1.5rem
				margin-right: 1rem
				background: #0083BD
	&_photos
		margin: 7.7rem auto 0 auto
		max-width: 718px
		img
			margin-bottom: .5rem
.comments
	text-align: center
	&_block
		margin-top: 7.1rem
		margin-bottom: 10.8rem
		h2
			font-size: 14px
			margin-left: 19rem
			text-align: left
			&::before
				top: 230%
				left: -50px
				max-width: 350px
				height: 4px
		p
			max-width: 691px
			margin: 4.1rem auto 0 auto
			font-size: 14px
			font-weight: 700
			line-height: 20px
			text-transform: uppercase
			letter-spacing: -0.35px
	&_personal
		&_background
			background: url(wp2.png)
			max-width: 1140px
			height: 815px
		&_text_header
			padding-top: 2rem
			font-size: 20px
			text-transform: uppercase
			letter-spacing: -0.68px
		&_modal_form
			max-width: 345px
			margin: 2rem auto 0 auto
			padding: 2.5rem
			height: 275px
			box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.35), inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4)
			border-radius: 15px
			background-color: #0085be
			input, textarea

				width: 295px
				padding-left: 1rem
				box-shadow: inset 0 0 4px rgba(54, 54, 54, 0.5)
				border-radius: 10px
				border: none
				background-color: #f3f3f3
			input
				height: 40px
				margin-bottom: .5rem
			textarea
				height: 125px
				resize: none
			button
				width: 215px
				height: 42px
				margin-top: 1rem
				border: none
				box-shadow: inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4)
				border-radius: 19px
				background-color: #ff3a3a
				font-size: 19px
				text-transform: uppercase
				color: #ffffff
		&_goods
			max-width: 756px
			margin: 8.1rem auto 0 auto
			p
				font-size: 15px
				font-weight: 700
				text-transform: uppercase
				letter-spacing: -0.53px
			&_text_1
				margin-left: 1rem
			&_text_2
				margin-left: 2.5rem
			&_text_3
				margin-left: 2rem
			&_text_4
				margin-left: 5.5rem
.customers
	&-blocks
		padding-left: 7rem
	&-block_1
		margin-top: 9rem
		img
			margin-right: 5.6rem
			margin-bottom: 3rem
	&-block_2
		margin-bottom: 7rem
		img
			margin-right: 8rem
.charters
	&_background
		background: url(wp3.png)
		max-width: 1140px
		height: 1185px
	&-blocks
		margin-top: 5rem
		display: block
	&-block_1
		margin-bottom: 9rem
		img:first-child
			max-width: 590px
			width: 100%
			height: 420px
			margin-right: 6rem
		img:last-child
			max-width: 284px
			height: 420px
	&-block_2
		img
			max-width: 935px
			width: 100%
.footer-address
	margin-top: 3.4rem

@import "media"






				
		

	
	

		