
html
	font-size: 10px

body
	font-family: "DIN 2014"

.top-nav
	&_logo
		margin-top: 3.1rem
		line-height: 3.6rem
		text-transform: uppercase
		color: #0084bd
		font-weight: 700
		&_text-1
			font-size: 4.3rem
			// Text style for "Окна века"
			letter-spacing: 1.07px
		&_text-2
			font-size: 2.1rem
			margin-left: .8rem
	&_address, &_contacts, &_menu
		display: flex
		justify-content: flex-end
		margin-top: .5rem

	&_address
		color: #00052a
		font-size: 1.7rem
		font-weight: 400

	&_contacts
		color: #00052a
		text-align: center
		&_icon
			width: 2rem
			height: 2rem
			margin-bottom: .7rem
			line-height: 3.6rem
		&_phone
			font-size: 2.1rem
			font-weight: 700
			margin-left: .9rem
		&_mail
			font-size: 1.8rem
			font-weight: 400
			margin-left: 1rem
	&_menu
		width: 100%
		nav
			margin-top: -0.5rem
			ul
				display: flex
				list-style: none
				li
					margin-left: .3rem
					a
						text-decoration: none
						padding: .4rem 1.7rem
						color: #ffffff
						font-size: 2.1rem
						letter-spacing: -.53px
						font-weight: 400
						background-color: #0084bd

.modal
	background: url(bg.png)
	max-width: 1142px
	height: 1278px
	padding-top: 2.9rem
	text-align: center
	&_text
		color: #00001b
		font-size: 3rem
		font-weight: 700
		line-height: 3.5rem
		&_header_3
			margin-top: 1.4rem
			font-size: 2.4rem
			font-weight: 400
			line-height:2.9rem
			letter-spacing: -.6px
	&_form
		margin: 4.4rem auto 0 auto
		padding: 2rem
		max-width: 35rem
		max-height: 21.5rem
		box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.35), inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4)
		border-radius: 1.5rem
		color: #ffffff
		background-color: #0085be
		&_text_header
			font-size: 1.9rem
			font-weight: 700
			line-height: 2.9rem
			text-transform: uppercase
			letter-spacing: -.47px
			margin-bottom: -.5rem
		&_text_info
			font-size: 1.7rem
			font-weight: 400	
			line-height: 2.9rem
			letter-spacing: -.42px
			margin-bottom: .5rem
		&_name input, &_phone input
			max-width: 19.2rem
			height: 3.5rem
			padding-left: 1rem
			margin-bottom: .7rem
			border-radius: 1.8rem
			background-color: #f3f3f3
			outline: none
		&_button input
			padding: .5rem 1rem
			font-size: 1.7rem
			margin-left: .4rem
			color: #ffffff
			font-weight: 700
			line-height: 2.9rem
			text-transform: uppercase
			letter-spacing: -.42px
			box-shadow: inset -2px -2px 4px rgba(54, 54, 54, 0.6), inset 2px 3px 4px rgba(255, 255, 255, 0.4)
			border-radius: 1.9rem
			background-color: #ff3a3a
			border: none
	&_img
		&_logo
			margin-top: 15.2rem
			margin-left: 3.4rem

	
	

		